@charset "UTF-8";

    body{
            background-color:green;
            font-family: Arial, Helvetica, sans-serif;
        }
        h1{
            color: black;
        }
        h2{
            color: brown;
        }
        p{
            text-align: justify;
            color: gray;

        }




