@charset "UTF-8";

*{
    /*Configurações Globais das Css*/
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-color: white;
    width: 340px;
    margin: auto;
    padding: 8px;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
}
body{
    background-image: linear-gradient(to bottom, #AAAA39, #D4D46A);
    background-attachment: fixed;
}
h1{
    color: #882D60;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.781);
}
h2{
    color: #808015;
}
p{  
    color: rgba(105, 105, 105, 0.87);
    text-align: justify;
}